<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      You you need to pay for Credit on <%= @claim.amount %> <%= @claim.currency %>.<br>
    </p>
    <p>Hope on your understanding!</p>
  </body>
</html>