<div class='new-comment'>
  <%= form_for [commentable, Comment.new] do |f| %>
    <div class='field'>
      <%= f.text_area :text, rows: 5, autofocus: true, placeholder: t('comment.new.placeholder'), class: 'field-comment' %>
    </div>
    <div class="actions sub-com">
      <%= f.submit t('comment.new.submit'), class: 'btn btn-light' %>
    </div>
  <% end %>
</div>