<li>
  <p>
    <%= comment_user_avatar(comment) %>
    <span class='com-user'><%= comment.user.email %></span>
  </p>

  <p class='text-com'><%= comment.text %></p>
  <% if policy(comment).destroy? %>
    <%= link_to 'Delete', claim_comment_path(@claim.id, comment.id), method: :delete, class: 'del-com-lnk-reply' %>
  <% end %>
</li>