<div class='card-ind col-4'>
  <div class='card-body cl-body'>
    <div class='card-title'>
      <h1 class='cl-title'>
        <%= link_to "#{t('claim.title')} #{claim.amount} #{claim.currency}", claim_path(claim.id), class: 'cl-name' %>
      </h1>
    </div>
    <div class='card-txt'>
      <p class='cl-goal'>
        <%= claim.goal.truncate(100) %>
      </p>
      <% if claim.tags.present? %>
        <p class='tags-info-text'>
          <%= t('tag.title') %>
            <% claim.tags.each do |tag| %>
              <span class='tags-text'><%= tag.name %></span>
            <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
