<%= form_for @claim do |f| %>
  <div class='row'>
    <%= f.text_field :tag_list, class: 'tag-field' %>
    <%= f.submit 'Submit', class: 'btn btn-dark'%>
  </div>
  <a id='close-tag' href='#' class='close-tag'>Close</a>
<% end %>