<% if flash[:alert] %>
  <% if flash[:alert].include?(',') %>
    <% flash[:alert].split(',').each do |msg| %>
      <p class='label-login-red'><%= msg %></p>
    <% end %>
  <% else %>
    <p class='label-login-red'><%= flash[:alert] %></p>
  <% end %>
<% end %>