/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import "font-awesome";

:root {
  --bootstrap-black: #343a40;
  --dark-green: #008060;
  --oliva: #00cc7a;
  --mint: #00e68e;
  --custom-red: #cc0000;
  --mega-dark-green: #004d00;
  --azure: #33ffcc;
  --card-green: #41a63f;
  --pinky: #d115bb;
}

.footer {
  position: fixed;
 	bottom: 0;
 	width: 100%;
}

.footer-text {
  color: var(--mint);
}

.title {
  color: var(--mint);
	size: 50px;
}

.title:hover {
  color: var(--dark-green);
}

.nav-log-btn {
  color: var(--mint);
}

.nav-log-btn:hover {
 	color: var(--mega-dark-green);
}

.nav-unlog-btn {
  color: var(--custom-red);
}

.nav-unlog-btn:hover {
 	color: var(--bootstrap-black);
}

.card-title {
  display: flex;
  justify-content: center;
}

.login-title {
  color: var(--mint);
  font-size: 50px;
  font-weight: bold;
}

.login-card {
  display: grid;
  border-radius: 20px;
}

.container-login {
  display: grid;
  max-width: 700px;
  min-width: 200px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.label-login {
  color: var(--oliva);
  font-size: 18px;
}

.label-login-red {
  font-size: 18px;
  color: var(--custom-red);
}

.label-login-can {
  color: var(--oliva);
  font-size: 26px;
}

.card-body {
  background-color: var(--bootstrap-black);
  padding: 20px;
  border-radius: 20px;
}

.field-login {
  width: 70%;
  margin-bottom: 15px;
  height: 30px;
  border-radius: 8px;
}

.field-login:focus {
  outline: 0;
  box-shadow: 0 0 8px var(--azure);
}

.new_user {
  margin-left: 20%;
}

.submit-btn {
  margin-top: 20px;
  margin-right: 60px;
}

.btn-login {
  border-radius: 15px;
  width: 50%;
  background-color: var(--oliva);
  justify-content: center;
  margin-left: 4em;
}

.btn-login:hover {
  background-color: var(--dark-green);
  color: var(--azure);
}

.third-party {
  margin-top: 40px;
  display: grid;
  max-width: 700px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.login-title-thd {
  color: var(--mint);
  font-size: 27px;
  font-weight: bold;
}

.img-thd {
  width: 50px;
  height: 50px;
}

.nodots {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 40px;
}

.thd-li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.thd-lnk {
  color: var(--azure);
}

.thd-lnk:hover {
  color: var(--dark-green);
}

.area {
  height: 60px;
} 

.image-ch {
  color: var(--azure);
}

.drop-menu {
  background-color: var(--bootstrap-black);
  color: var(--mint);
}

.drop-menu:hover {
  background-color: var(--bootstrap-black);
  color: var(--azure);
}

.dp-mn {
  background-color: var(--bootstrap-black);
}

.without-padding {
  padding-right: 0em;
  padding-left: 0em;
}

.without-padding-right {
  padding-right: 0em;
}

.menu-prof {
  margin-right: 1em;
}