/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.footer {
  position: fixed;
 	bottom: 0;
 	width: 100%;
}

.footer-text {
  color: #00e68e;
}

.title {
  color: #00e68e;
	size: 50px;
}

.nav-log-btn {
  color: #00e68e;
}

.nav-log-btn:hover {
 	color: #004d00;
}

.nav-unlog-btn {
  color: #cc0000;
}

.nav-unlog-btn:hover {
 	color:  #343a40;
}

.card-title {
  display: flex;
  justify-content: center;
}

.login-title {
  color: #00e68a;
  font-size: 50px;
  font-weight: bold;
}

.login-card {
  display: grid;
  border-radius: 20px;
}

.container-login {
  display: grid;
  max-width: 700px;
  min-width: 200px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.label-login {
  color: #00cc7a;
  font-size: 18px;
}

.label-login-can {
  color: #00cc7a;
  font-size: 26px;
}

.card-body {
  background-color: #343a40;
  padding: 20px;
  border-radius: 20px;
}

.field-login {
  width: 70%;
  margin-bottom: 15px;
  height: 30px;
  border-radius: 8px;
}

.field-login:focus {
  outline: 0;
  box-shadow: 0 0 8px #33ffcc;
}

.new_user {
  margin-left: 20%;
}

.submit-btn {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 60px;
}

.btn-login {
  border-radius: 15px;
  width: 50%;
  background-color: #00cc7a;
  justify-content: center;
}

.btn-login:hover {
  background-color: #008060;
  color: #33ffcc;
}

.third-party {
  margin-top: 40px;
  display: grid;
  max-width: 700px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.login-title-thd {
  color: #00e68a;
  font-size: 27px;
  font-weight: bold;
}

.img-thd {
  width: 50px;
  height: 50px;
}

.nodots {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 40px;
}

.thd-li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.thd-lnk {
  color: #33ffcc;
}

.thd-lnk:hover {
  color: #008060;
}

.area {
  height: 60px;
} 

.image-ch {
  color: #33ffcc;
}

.drop-menu {
  background-color: #343a40;
  color: #00e68a;
}

.drop-menu:hover {
  background-color: #343a40;
  color: #33ffcc;
}

.dp-mn {
  background-color: #343a40;
}