// Place all the styles related to the Claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-login-cl {
  display: grid;
  max-width: 700px;
  min-width: 200px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.login-card-cl {
  display: grid;
  border-radius: 40px;
  margin-left: 20%;
}

.field-login-cl {
  width: 75%;
  margin-bottom: 15px;
  height: 30px;
  border-radius: 8px;
}

.field-login-cl:focus {
  outline: 0;
  box-shadow: 0 0 8px var(--azure);
}

.cl-body {
  background-color: var(--bootstrap-black);
  padding: 35px;
  border-radius: 50px;
}

.cl-card {
  display: grid;
  border-radius: 50px;
}

.card-ind {
  min-width: 200px;
  margin-top: 25px;
}

.cl-title {
  color: var(--mint);
  font-size: 35px;
  font-weight: bold;
}

.cl-name {
  color: var(--mint);
}

.cl-name:hover {
  color: var(--dark-green);
}

.card-txt {
  margin-top: 10px;
  margin-left: 15px;
}

.cl-goal {
  color: var(--oliva);
  font-size: 18px;
}

.bd-show {
  margin-top: 100px;
  width: 100%;
}

.container-claim-show {
  margin-left: 100px;
  display: grid;
}

.card-cl-show {
  background-color: var(--bootstrap-black);
  border-radius: 20px;
  padding: 40px;
}

.claim-user {
  color: white;
  font-size: 20px;
  font-style: italic;
}

.card-sub-title {
  margin-right: 25px;
}

hr.solid {
  border-top: 1px solid var(--mint);
}

.goal-info {
  margin-left: 10px;
}

.txt-godl-info {
  color: white;
  font-size: 18px;
}

.txt-other-info {
  color: var(--mint);
  font-size: 18px;
}

.info {
  color: white;
  font-style: italic;
}

.index-claim-container {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 80px;
  display: grid;

}

.del-but {
  margin-top: 20px;
}

.container-participants {
  max-width: 30em;
  min-width: 20em;
  display: grid;
}

.part {
  margin-left: 10em;
}

.card-participants-show {
  background-color: var(--bootstrap-black);
  border-radius: 2em;
  padding: 2.5em;
}

.part-title {
  color: var(--mint);
}

.card-title-paticipants {
  font-size: 26px;
}

.become-part {
  margin-top: 3em;
}

.part-form {
  margin-top: 1em;
  display: none;
}
.edit-tag-form {
  display: none;
  margin-top: 0.5em;
}

.close-tag {
  color: var(--custom-red);
}

.close-tag:hover {
  color: white;
}

.tags-info {
  margin-top: 4em;
  margin-left: 10px;
}

.tags-info-text {
  color: white;
  font-size: 18px;
}

.tags-text {
  color: var(--mint);
  font-style: italic;
}

.tagcloud {
  background-color: var(--bootstrap-black);
  border-radius: 1em;
  padding: 1em;
  margin-top: -1.2em;
  font-size: 1.2em;
}

.tag-btn {
  margin-top: -1.2em;
}

.tag-down {
  background-color: var(--bootstrap-black);
}

.sort-cloud {
  min-width: 28em;
}

.clouds {
  display: grid;
}

.sort {
  width: 50em;
}

.opt-sel {
  width: 20em;
}

.dir-sel {
  width: 8em;
}

.sort-label {
  width: 100%;
}
.comments {
  margin-top: 4em;
  margin-left: 7em;
  display: grid;
}

.comment-title {
  margin-left: 1em;
}

.title-com {
  color: var(--bootstrap-black);
  font-size: 30px;
}

.new-comment {
  background-color: var(--bootstrap-black);
  padding: 2em;
  border-radius: 20px;
}

.field-comment {
  width: 100%;
  border-radius: 8px;
  height: 80px;
}

.field-comment:focus {
  outline: 0;
  box-shadow: 0 0 8px var(--azure);
}

.sub-com {
  width: 50%;
}

.all-comments {
  margin-left: 7em;
  margin-bottom: 5em;
  display: grid;
}

.list-com {
  list-style-type: none;
}

.pagination-cont {
  margin-top: 2em;
}

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: var(--mint);
    display: inline-block;
    width: 1.4em;
    height: 1.5em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
