// Place all the styles related to the LoanParticipants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.part-field {
  border-radius: 0.5em;
  padding-left: 0.3em;
}

.part-field:focus {
  outline: 0;
  box-shadow: 0 0 8px var(--azure);
  padding-left: 0.3em;
}

.close-part {
  color: var(--custom-red);
}

.close-part:hover {
  color: white;
}

.part-name {
  color: white;
  font-size: 22px;
  font-style: italic;
}

.text-gr {
  color: var(--mint);
  font-size: 18px;
}

.part-sum {
  color: white;
  font-size: 18px;
  font-style: italic; 
}

.participant-main-info {
  margin-left: 1em;
}

.cur-info {
  color: var(--azure);
}

.rounded-loan-ava {
  width: 35px;
  height: 35px;
}

.income {
  margin-left: 1em;
}